<div class="row">
    <div class="col-md-8 offset-md-2">
        <form [formGroup]="postForm" (ngSubmit)="onpostSubmit()">
            <div class="form-group">
                <label for="title">Title</label>
                <input type="text" formControlName="title" id="title" class="form-control">
            </div>

            <div class="form-group">
                <label for="content">Content</label>
                <input type="text" formControlName="body" id="content" class="form-control">
            </div>

            <div class="text-right">
                <button class="btn btn-info" type="submit" *ngIf="!isinEditMode">
                    Create Form
                </button>
                <button class="btn btn-primary" type="button" *ngIf="isinEditMode" (click)="onpostupdate()"> Update Form
                </button>
            </div>
        </form>
    </div>
</div>